<%- include header.ejs %>

<!-- 점보트론 -->
<div class="jumbotron">
    <div class="container">
        <h1> Gallery </h1>
        <p> 모든 회원들의 FreeDraw 저장 순간을 기록하였습니다. </p>
        <p> 다른 회원분들의 모델링을 참고해보세요. </p>
    </div>
</div>

<!-- 갤러리  -->
<div class="container">

    <a href="http://images2.fanpop.com/images/photos/6300000/Boa-boa-6353274-1024-768.jpg" data-lighter>
        <img src="http://images2.fanpop.com/images/photos/6300000/Boa-boa-6353274-1024-768.jpg" />
    </a>
    <a href="http://images2.fanpop.com/images/photos/6300000/Boa-boa-6353274-1024-768.jpg" data-lighter>
        <img src="http://images2.fanpop.com/images/photos/6300000/Boa-boa-6353274-1024-768.jpg" />
    </a><a href="http://images2.fanpop.com/images/photos/6300000/Boa-boa-6353274-1024-768.jpg" data-lighter>
        <img src="http://images2.fanpop.com/images/photos/6300000/Boa-boa-6353274-1024-768.jpg" />
    </a>
    <a href="http://images2.fanpop.com/images/photos/6300000/Boa-boa-6353274-1024-768.jpg" data-lighter>
        <img src="http://images2.fanpop.com/images/photos/6300000/Boa-boa-6353274-1024-768.jpg" />
    </a>
    <a href="http://images2.fanpop.com/images/photos/6300000/Boa-boa-6353274-1024-768.jpg" data-lighter>
        <img src="http://images2.fanpop.com/images/photos/6300000/Boa-boa-6353274-1024-768.jpg" />
    </a>
    <a href="http://images2.fanpop.com/images/photos/6300000/Boa-boa-6353274-1024-768.jpg" data-lighter>
        <img src="http://images2.fanpop.com/images/photos/6300000/Boa-boa-6353274-1024-768.jpg" />
    </a>



</div>


<%- include footer.ejs %>