<%- include header.ejs %>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>GLove ::</h1>
        <p>Welcome to Online Graphics Education Project.<br>You can learn computer graphics theory based on OpenGL using block coding.</p>
        <p><a class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-lg-4">
            <h2>2 Dimension</h2>
            <p>You can 2 Dimensional graphics theory and practice in this chapter. If you don`t know graphics programming, you must start this chapter. Those are that draw point and line, triangle, and rectangle based on Vertex.</p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>3 Dimension</h2>
            <p>If you learned 2D part, you can learn 3 Dimensional graphics part. In this part, you learn Low-API and High-API, and CTM(Current Transformation Matrix) to understand translate, rotate, and scale.</p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Advanced</h2>
            <p>This part include viewport using camera, and light.</p>
            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; Copyright(c)2015 by Team HardCarry SSM. All pictures cannot be copied without permission.  </p>
    </footer>
</div> <!-- /container -->

<%- include footer.ejs %>