<%- include header.ejs %>

<script type="text/javascript">

    var tutorialBlock, tempSeq = 1;

    $(document).ajaxStart(function() {
        $('#loading').fadeIn('fast');
    })
    $(document).ajaxStop( function() {
        $('#loading').fadeOut('fast');
    })

    $(document).ready( function() {

        /* Block Initialize */
        urlReq.get('/tutorial/<%=tid%>/info', {}, function(result) {
            if( result.error ) {
                alert(' 기본정보 요청중 에러가 발생하였습니다. ');
            }
            else {
                var data = result.data;
                var available_block = data.available_block;
                var guide_content = data.guide_content;
                var practice_content = data.practice_content;

                $('.guideContent').html( guide_content );
                $('.practiceContent').html( practice_content );

                /* Block Append */
                tutorialBlock = new dragDropBlockList();
                for(var i = 0; i < available_block.length; i++) {
                    tutorialBlock.append( new sBlock(i+1).setBlockType( available_block[i]).initBlock() );
                }

                /* Run */
                tutorialBlock.init();
                tutorialBlock.eventRun();
            }
        })

    });
</script>


<div class="container-fluid" style="padding-top:60px; height:100%;">
    <div class="row" style="height: 100%;">



        <!-- 좌측 메뉴 -->
        <div class="col-md-3 block_leftside">

            <!-- 과제 메뉴 -->
            <div class="btn-group" style="width: 100%;">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width:100%;">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <!-- // 과제메뉴 -->

            <!-- 가이드 정보 -->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"> 2D 점찍기 </h3>
                </div>

                <div class="panel-body guideContent">

                </div>
            </div>
            <!-- //가이드 정보 -->

            <!-- 해볼것 -->
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"> 직접 한번 해보세요 </h3>
                </div>

                <div class="panel-body practiceContent">
                    <ol>
                        <li> 점은 여기서 찍구요.</li>
                        <li> 그다음 해보시고.</li>
                        <li> 그다음도 해보세요.</li>
                        <li> 다하면 어떻게됨?</li>
                    </ol>
                </div>
            </div>
            <!-- // 해볼것 -->

        </div>
        <!-- //좌측 메뉴 -->





        <!-- 중앙 블락 조합 -->
        <div class="col-md-5" style="overflow-y: scroll; height:100%;">

            <div class="col-md-5" style="height: 100%">
                <!-- 블락 리스트 -->
                <div style="border-right: 1px solid #cccccc; height: 100%;">
                    <div id="blocklist">

                    </div>
                </div>
            </div>

            <div class="col-md-7" style="height: 100%;">
                <div style="height: 100%">

                    <div id="stacklist" style="margin: auto;">
                    </div>

                </div>

                <button onclick="void( console.log( JSON.stringify(tutorialBlock.blocksToJSON()) ));">toJSON</button>
            </div>
        </div>
        <!-- // 중앙 블락 조합 -->





        <!-- 우측 렌더링 부분 -->
        <div class="col-md-4" style="height: 100%;">
            <div  style="background: steelblue;  height: 60%;" id="srender"></div>
            <div  style="background: chartreuse; height: 40%;">2</div>
        </div>
        <!-- // 우측 렌더링 부분 -->


    </div>
</div>


<!-- 튜토리얼 모달창 -->
<!-- Modal -->
<div class="modal fade" id="tutorialModal" tabindex="-1" role="dialog" aria-labelledby="tutorialModalWindow" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"> 튜토리얼 가이드 </h4>
            </div>
            <div class="modal-body guideContent">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%- include footer.ejs %>