<%- include header.ejs %>

<div class="container-fluid" style="padding-top:60px; height:100%;">
    <div class="row" style="height: 100%;">



        <!-- 좌측 메뉴 -->
        <div class="col-md-2">

            <!-- 과제 메뉴 -->
            <div class="btn-group" style="width: 100%;">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="width:100%;">
                    Action <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <!-- // 과제메뉴 -->

            <!-- 가이드 정보 -->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title"> 2D 점찍기 </h3>
                </div>

                <div class="panel-body">
                    가이드 정보가이드 정보가이드 정보가이드 정보가이드 정보가이드 정보
                    가이드 정보가이드 정보가이드 정보가이드 정보가이드 정보가이드 정보
                    가이드 정보가이드 정보가이드 정보가이드 정보가이드 정보가이드 정보
                    가이드 정보가이드 정보가이드 정보가이드 정보가이드 정보가이드 정보
                    가이드 정보가이드 정보가이드 정보가이드 정보가이드 정보가이드 정보
                    가이드 정보가이드 정보가이드 정보가이드 정보가이드 정보가이드 정보
                </div>
            </div>
            <!-- //가이드 정보 -->

            <!-- 해볼것 -->
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"> 직접 한번 해보세요 </h3>
                </div>

                <div class="panel-body">
                    <ol>
                        <li> 점은 여기서 찍구요.</li>
                        <li> 그다음 해보시고.</li>
                        <li> 그다음도 해보세요.</li>
                        <li> 다하면 어떻게됨?</li>
                    </ol>
                </div>
            </div>
            <!-- // 해볼것 -->

        </div>

        <!-- 중앙 블락 조합 -->
        <div class="col-md-7" style="overflow-y: scroll; height:100%;">
            <div>
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
                hh
            </div>

        </div>

        <!-- 우측 렌더링 부분 -->
        <div class="col-md-3" style="height: 100%;">
            <div  style="background: steelblue;  height: 60%;">1</div>
            <div  style="background: chartreuse; height: 40%;">2</div>
        </div>
    </div>
</div>

<%- include footer.ejs %>