.blockitem {
    width: 100%;
    margin-top: 5px;
    position: relative;
}

.enableRemoveItem {
    background-color: blue;
}

#blocklist {
    width: 90%;
}

#stacklist {
    width: 90%;
    background-image: url('/static/images/freeblocks/stack_mid.png');
    background-repeat : no-repeat;
    background-position: top center;
    background-size: 80% 100%;
    padding-top: 15px;
    text-align : center;
    margin: 0;
}

#stacklist_top {
    width: 90%;
    background-image: url('/static/images/freeblocks/stack_top.png');
    background-repeat : no-repeat;
    background-position: top center;
    background-size: 80% 100%;
    padding-top: 0;
    text-align : center;
}

#stacklist_bottom {
    width: 90%;
    background-image: url('/static/images/freeblocks/stack_bot.png');
    background-repeat : no-repeat;
    background-position: top center;
    background-size: 80% 100%;
    padding-top: 25%;
    text-align : center;
    margin: 0;
}